@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

header {
  margin-bottom: 1%;
  box-shadow: #000000;
}

h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.segment-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 45%;
  margin: 0 auto;
  margin-bottom: 2%;
}

.segment-draggable {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2%;
}

/* This is what I've done before, the spacing in between didn't work this way. 

.segment-container {
  columns: 6;
  scale: 70%;
  justify-content: center;
}
*/

.segment img {
  width: 100%;
  height: 100%;
}

.object img {
  width: 100%;
}

.objectcontainer {
  height: 50px;
  max-width: 35%;
  margin: 0 auto;
}

.objectcard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid #000000;
}

.object {
  padding: 5%;
}
